$cor-laranja:#FF7900;
$cor-azul:#005589;
$cor-branco:#FFFFFF;
$cor-cinza:#ABABAB;
$cor-fundo:#F1EDED;


$fonte-padrao: "Omnes";
/*CAIXA DE ATIVIDADES*/

@font-face {
  font-family: 'Omnes';
  src: url('../fonts/omnes-regular-webfont');
  src: url('../fonts/omnes-semibold-webfont');
  src: url('../fonts/omnes_medium-webfont');

  font-weight: bold;
  font-style: normal;
}

//talvez tirar
.font-branca{
    color:$cor-branco;
}
.font-azul{
 color:$cor-azul;   
}

.box{
 background-color: $cor-laranja;
}

.box-header{
    height:50px;
}

.logo{
    font-family: $fonte-padrao;
    margin-left:25px;
    margin-bottom:50px;
    font-size:20px;
    color:$cor-branco;    
}

.logo-exp{
    display:none;
}


.nav-text  {
    position: relative;
    display: none;
    margin-left:80px;
    font-family:$fonte-padrao;
    font-size:24px;
    color:$cor-branco;
}

.sidebar {
    background-color: $cor-azul;
    width:90px;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;    
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 1000;


    ul {
        left: 0;
        bottom: 0;        
        padding:0px;
    }

    li {
        position: relative;
        display: block;
        list-style-type: none;
        margin-bottom: 100px;

        &:hover{


            .fa, .nav-text{
              color:$cor-laranja;
          }


      }

  }

  i{
    position:absolute;
}


li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    
}

.fa {


    width: 60px;
    text-align: center;
    font-size: 3em;
    color:$cor-branco;

}



a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    
}


&:hover{

    width:250px;
    .nav-text{
        display:flex;
    }
    .logo{
        display:none;
        margin-left:100px;
    }
    .logo-exp{
        display:flex;
        color:$cor-branco;
        font-family:$fonte-padrao;
        font-size:20px;
        margin-left:50px;
    }

}

.color-blue{
    color:red;
}


}

#icon-boxes {
    margin: 0 auto;
    margin-right: 5%;
    margin-left: 10%;
    width: 85%;

    .info-header {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .center-div {
        background-color: fundo;
        margin: 0 auto;
        text-align: center;
    }
}

.nav-link{
    background-color: fundo;
}



#navbarHeader{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    ul, li {
        outline: 0;
        margin: 0;
        padding: 0;list-style-type: none;
    }
}